body {
	font-family: "Neutra Text Light", sans-serif;
	font-size: 1em;
	flex: 0 0 auto;
	color: #fff;
	transition: background-color 900ms cubic-bezier(.215, .61, .355, 1);
}

main {
	margin: 10% 10% 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 80%;
}

blockquote {
	flex-basis: 55%;
	margin: 0;
	font-weight: 700;
}

blockquote footer {
	display: flex;
}

#quote {
	margin: 0;
	font-size: 65px;
	border-left: 5px solid #fff;
	padding-left: 40px;
}

blockquote footer {
	font-size: 27px;
	font-family: "Kaufmann Bold";
	color: #232323;
	margin: 30px 0 0 45px;
}

#new-quote-btn {
	background: url("../img/icon-right-arrow.svg") no-repeat;
	width: 105px;
	height: 105px;
	margin-top: -71px;
}

#tweet-quote-btn {
	background: #fff url("../img/icon-twitter.svg") no-repeat;
	background-size: 90% 90%;
	background-position: center;
	position: absolute;
	top: 0;
	animation: comeIn 500ms cubic-bezier(.215, .61, .355, 1) forwards;
	width: 50px;
	height: 50px;
}

button {
	outline: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
}

@keyframes fadeOut {
  	0% { opacity: 1 }
  	100% { opacity: 0 }
}

@keyframes fadeIn {
  	0% { opacity: 0 }
  	100% { opacity: 1 }
}

@keyframes comeIn {
	0% { left: 0; opacity: 0 }
	100% { left: calc(10% + 50px); opacity: 1 }
}

@keyframes splashIn {
	0% { transform: scale(1, 0); transform-origin: bottom left }
	100% { transform: scale(1, 1); transform-origin: bottom left }
}

@keyframes splashOut {
	0% { transform: scale(1, 1); transform-origin: bottom left }
	100% { transform: scale(1, 0); transform-origin: bottom left }
}

@font-face {
	font-family: "Kaufmann Bold";
	src: url(../fonts/kaufmann-bold.woff2),
		 url(../fonts/kaufmann-bold.woff);
}

@font-face {
	font-family: "Neutra Text Light";
	src: url(../fonts/neutra-text-light.woff2),
		 url(../fonts/neutra-text-light.woff);
}