html, body {
		width: 100%;
	height: 100%;
}

body {
	font-family: "Neutra Text Light", sans-serif;
	font-size: 1em;
	flex: 0 0 auto;
	color: #fff;
	transition: background-color 900ms cubic-bezier(.215, .61, .355, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
}

blockquote {
	max-width: 70%;
	margin: 0;
	font-weight: 700;
}

blockquote footer {
	display: flex;
}

#quote {
	margin: 0;
	font-size: 10vmin;
	border-left: 1vmin solid #fff;
	padding-left: 5vmin;
}

blockquote footer {
	font-size: calc(4vmin + 5px);
	font-family: "Kaufmann Bold";
	color: #232323;
	margin: 5vmin 0 0 6.5vmin;
}

#new-quote-btn {
	background: url("../img/icon-right-arrow.svg") no-repeat;
	width: 18vmin;
	height: 18vmin;
	opacity: 0;
	margin-top: -10vmin;
	margin-right: -5vmin;
	animation: fadeIn 400ms cubic-bezier(.215, .61, .355, 1) forwards;
	animation-delay: 900ms;
}

#tweet-quote-btn {
	background: #fff url("../img/icon-twitter.svg") no-repeat;
	background-size: 90% 90%;
	background-position: center;
	position: absolute;
	top: 0;
	animation: comeIn 500ms cubic-bezier(.215, .61, .355, 1) forwards;
	width: calc(5vmin + 17px);
	height: calc(5vmin + 17px);
}

button {
	outline: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
}

@keyframes fadeOut {
  	0% { opacity: 1 }
  	100% { opacity: 0 }
}

@keyframes fadeIn {
  	0% { opacity: 0 }
  	100% { opacity: 1 }
}

@keyframes comeIn {
	0% { left: 0; opacity: 0 }
	100% { left: calc(10% + 6vmin); opacity: 1 }
}

@keyframes splashIn {
	0% { transform: scale(1, 0); transform-origin: bottom left }
	100% { transform: scale(1, 1); transform-origin: bottom left }
}

@keyframes splashOut {
	0% { transform: scale(1, 1); transform-origin: bottom left }
	100% { transform: scale(1, 0); transform-origin: bottom left }
}

@media (min-width: 1380px) {
	blockquote {
		max-width: 50%;
	}
}

@font-face {
	font-family: "Kaufmann Bold";
	src: url(../fonts/kaufmann-bold.woff2),
		 url(../fonts/kaufmann-bold.woff);
}

@font-face {
	font-family: "Neutra Text Light";
	src: url(../fonts/neutra-text-light.woff2),
		 url(../fonts/neutra-text-light.woff);
}