body {
	font-family: "Neutra Text", sans-serif;
	font-size: 1em;
	flex: 0 0 auto;
	color: #fff;
}

main {
	margin: 10% 10% 0 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 80%;
}

blockquote {
	flex-basis: 55%;
	margin: 0;
	font-weight: 700;
}

blockquote footer {
	display: flex;
}

#quote {
	margin: 0;
	font-size: 65px;
	border-left: 5px solid #fff;
	padding-left: 40px;
}

blockquote footer {
	font-size: 27px;
	font-family: Kaufmann;
	color: #232323;
	margin: 30px 0 0 45px;
}

#new-quote-btn {
	background: url("../img/icon-right-arrow.svg") no-repeat;
	width: 105px;
	height: 105px;
	margin-top: -71px;
}

#tweet-quote-btn {
	background: #fff url("../img/icon-twitter.svg") no-repeat;
	background-size: 90% 90%;
	background-position: center;
	position: absolute;
	top: 0;
	left: calc(10% + 50px);
	width: 50px;
	height: 50px;
}

button {
	outline: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
}